<div>
  <table style="width: 300px">
    <tr>
      <td>
        name
      </td>
      <td>
        <input #name placeholder="movie name">
      </td>
    </tr>
    <tr>
      <td>release year</td>
      <td>
        <input #releaseYear placeholder="release year">
      </td>
    </tr>
    <tr>
      <button (click)="addNewMovie(name.value, releaseYear.value)">add new</button>
    </tr>
  </table>
</div>


<h2>Movies list: </h2>
<div class="parent">
  <ol class="movies">
    <li class="movieItem" *ngFor="let item of movies" (click)="onSelect(item)" [class.selectedd]="item == selectedMovie">
      {{item.name}} -- {{item.releaseYear}} 
      <button (click)="deleteMovie(item.id)">x</button>
    </li>
  </ol>
  <app-movie-detail [phim]="selectedMovie"></app-movie-detail>
  <app-messages></app-messages>
</div>